html body {
  margin: 0px;
  padding: 0px;
}
.app {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#users {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#content {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.no-content {
  text-align: center;
  display: block;
}
